@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf");
  font-family: "Roboto-bold";
  src: url("../font/Roboto-Bold.ttf");
}
html {
    position: relative;
    min-height: 100%;
	font-family: "Roboto";
}
.button-blue{
    background-image:linear-gradient(90deg, #0eb4fdd6, #5846ec);
	border: 0px !important;
}
.bg-yellow{
	background-image: linear-gradient(45deg, #fe901ad9, #eb642a);
	padding: 15px;
	margin-top: 4px;
}
.bg-orange{
	background: #ff6600;
}
.bg-orange{
	background: #e96127;
}
.text-blue{
	color: #006fba;
}
.text-green{
	color:#1aa86c;
}

.footer-bg{
	background: #c3c3c3;
}
.button-disable{
	background: #808080;
    opacity: 0.5;
}
/*header*/
.fa-whatsapp{
	color: #fff;
    font-size: 18px;
    border-radius: 5px;
	padding: 2px;
}
.whatsapp p{
    font-size: 14px;
    margin-left: 4px;
	margin-bottom: 0px;
	font-weight:600;
}
p.wapptext {
	margin-top: -35px;
}
.header-content{
	font-family:"Roboto-bold";
	font-size: 12px;
}
.cart-count{
	position: relative;
    top: -32px;
    right: -4px;
    border-radius: 50%;
	font-size: 10px;
    padding: 3px;
}
.poweredby{
	font-size: 10px;
}
.eangadi-logo{
	line-height:10px;
}
.favicon{
	width: 20px;
}
/*header end*/
/*form start*/
.form-control{
	border-radius: 5px !important;
	border: 1px solid #000 !important;
}
select{
	color: #000 !important;
}
.custom-btn{
	 display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
	border-radius: 5px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.order-form div.row{
	min-height: 60px;
}
.error{
	font-size: 13px;
	color: #ff0000;
}
label{
	margin-bottom: 0px;
}
textarea{
	border-radius: 5px;
	padding: 10px;
}
::placeholder{
	color: #000 !important;
}

.proceed,.add{
	font-size: 14px;
    padding: 7px !important;
}
.custom-btn.button-blue.text-white.w-100.rotp{
	padding: 7px !important;
}
.m-order{
	font-size: 12px;
}
.delivery-chrges{
	font-size: 14px;
	text-align: right;
}
.whatsapp-order{
	font-size: 12px;
	font-weight: 600;
}
/*Popup Overlay*/
.modal-header{
	border-bottom: 0px;
	padding:10px 10px;
	
}
.modal-dialog{
	top: 120px;
}
.close{
	opacity: 1;
	font-size: 35px;
}
.modal-header .close{
	padding: 7px 15px;
}
.modal-body ul li{
	font-weight: 600;
}
hr{
	margin-left: -15px;
	margin-right: -15px;
}
.product-item{
	width: 44%;
    float: left;
    word-wrap: break-word;
    font-size: 12px;
}
.remove-btn{
	font-size: 13px;
}
.price{
	font-size: 12px;
}
.cart-list-mobile{
		min-height: 20vh;
		max-height: 45vh;
		overflow-y: auto;
		overflow-x: hidden;
	}
.cart-list-mobile ul li{
	display: inline-block;
	width: 95%;
}
.cart-list-mobile ul li span:last-child{
	float:right;
}
/*Popup overlay end*/

/*footer*/
.copyright{
	font-size:10px;
}
.footer-border{
	background-image: linear-gradient(45deg, #fdc2d8,#fca65e,#ff7983,#041282);
    height: 5px;
}
.logo{
		width: 130px;
	}

/*footer end*/

/* Thank-page */
.thank-content h1{
	font-size: 40px;
}
.shopping-bag{
	width: 20%;
}
/* end of thank-page */
	
/*form-end*/

/*Media Queries*/
@media (max-width: 320px){  
	.whatsapp p {
		font-size: 14px !important;
		margin-top: 3px !important;
	}
	.bg-yellow{
		padding: 5px;
	}
	.amount{
		margin-left: 5px !important;
	}
	.header-content {
		font-size: 12px !important;
		width: 180px !Important;
	}
	
	.rotp,.bg-orange{
		font-size: 14px;
	}
	.copyright {
    font-size: 8px;
	}
	#phonenumber-error{
		font-size: 12px;
	}
	#otp-error{
		font-size: 11px;
	}
	.product{
		padding: 3px 0px;
	}
	.product-item{
		width:36%;
	}
	.container.pt-4.order-form, .e-ang{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.fa-whatsapp {
		font-size: 14px;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.bg-yellow{
	  padding: 5px;
	}
	
	input,select,textarea,.custom-btn {
		font-size: 11px !important;
	}
	.custom-btn{
		height: 32px;
	}
	.frm-hgt{
		min-height: 60px;
	}
	.m-order{
		display: block !important;
		font-size: 10px;
	}
	.whatsapp-order{
		font-size: 11px;
	}
	.delivery-chrges{
		text-align: center;
	}
	.form-control.input-field.required{
    padding-left: 10px !important;
	}
	.form-control.required {
    padding-left: 7px;
	}
	.label-size {
    padding-left: 0px !important;
	}
	.header-content span{
		float: left;
		font-size: 11px;
	}
	.thank-content{
		padding: 0px !important;
	}
	.stay-home{
		font-size: 11px;
		font-family: 'Roboto-bold';
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered{
		font-size: 11px !important;
	}
	.select2-container .select2-selection--single{
		height: 31px !important;
	}
	.terms-content h4 h5{
		font-size: 20px;
	}
	.terms-content p{
		font-size: 13px;
	}
	.terms-conditions{
		position:relative;
		left: 10px;
	}
}
 @media (min-width: 768px) {
	.fa-whatsapp {
    font-size: 15px;
}
	p.wapptext {
		margin-top: -40px;
	}
	.whatsapp p {
		font-size: 16px;
		margin-bottom: 0px;
		font-weight: 500;
	}
	.cart{
		text-align: right;
	}
	.amount{
		margin-left: 10rem !important;
	}
	.header-content{
		margin-bottom: 5px !important;
		margin-top: 5px;
		font-size:16px;
	}
	.input-field {
		font-size: 11px;
		padding: 0px 4px !important;
	}
	.proceed, .add {
		font-size: 9px !important;
		padding: 9px 5px;
	}
	.add-btn{
		padding-right: 0px;
	}
	select.form-control{
		height: 33px;
		font-size: 11px;
		padding: 1px 1px;
	}
	.cart-icon{
		 position: relative;
		top: -32px;
		right: 10px;
	}
	.product-item{
		width: 62%;
	}
	.rotp,.place-order{
		font-size: 11px;
	}
	.poweredby{
		margin-left: 4px;
	}
	 .bg-yellow{
	  padding: 5px;
	}
	input,select,textarea,.custom-btn {
		font-size: 11px !important;
	}
	.custom-btn{
		height: 32px;
	}
	.frm-hgt{
		min-height: 60px;
	}
		
 
}

@media (min-width: 760px)and (max-width: 992px) {
.custom-btn.button-blue.text-white.w-100.proceed.button-disable{
    font-size: 9px !important;
}
}



 @media (min-width: 1024px) {
	 .product-item{
		 width: 77%;
	 }
	 .product-list{
		 height: 265px;
		 overflow-y: auto;
	 }
	 .cart-icon{
		 position: relative;
		 top: -30px;
		 right: 30px;
	 }
	 .thank-content h1{
		font-size: 60px;
	}
	.poweredby{
		font-size: 10px;
	}
	
	.copyright{
		font-size: 12px;
	}
	.whatsapp p{
	font-size: 14px;
	}
	.header-content{
		font-size: 15px;
	}
	input,select,textarea,.custom-btn {
		font-size: 13px !important;
	}
	textarea{
		padding: 10px;
	}
	.logo{
		width: 130px;
	}
	.shopping-bag{
		width: 14%;
	}
}

@media (max-width: 767px){
	.cart-list{
		display: none;
	}
	.copyright{
		text-align: center !important;
	}
	.terms{
		text-align: left !important;
		font-size: 12px;
	}
	.eangadi-logo h2{
		font-size: 24px;
	}
	p.wapptext{
		margin-top: -25px !important;
	}
	.thank-content h1 {
		font-size: 33px;
	}
	.hr-cart{
		display: block !important;
	}
	.header-content{
		margin-top: 10px !important;
		width: 180px;
		font-size: 14px;
	}
	.cart-total{
		margin-top: 10px;
		width: 95%;
	}
	
	.terms-mob{
		float: right;
	}
	.shopping-bag{
		width: 50%;
	}
}

@media (min-width: 768px){
.cart-icon{
		 position: relative;
		top: -32px;
		right: 10px;
	}
}
/*Media Queries end*/
.terms-content{
	max-height: 80vh;
	overflow-y: auto;
}
.terms-conditions{
	max-width: 90% !important;
	top: 20px !important;
	
}
.text-orange{
	color: #eb642a;
}




